<div class="container">
    <div class="header-area">
        <h1>Senex Oy</h1>
        <h2>Join us as a service provider and get better access to your customers</h2>
        <br />
        <div class="cntr">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/XxXaq8SMcf8?rel=0&amp;controls=0&amp;showinfo=0"
            frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="page">
    <div class="info-area">
        <p>
            <strong>Senex Oy</strong> is the one platform to connect you with local customers. Our main focus are
            elderly and medicaly challenged people, who are not always able to get access to the services.
            Help them by delivering the service to them!
        </p>
        <p>
            On BookIT platform, you are able to schedule your individual calendar with opening hours. This calendar
            is then visible to all customers. Customers can check their schedule and book the right time with you.
            Your only responsibility then is accept particular requests (and deliver your service of course). If there
            are any uncertanties from the customer side, they get to write you a message through our system.
        </p>
        <br />
        <p style="font-size:1.6em">
            <strong>Start using BookIT today and deliver your awesome service to the people who need it!</strong>
        </p>
    </div>

    <br />
    </div>

<div class="header-area" style="padding:30px">

<h2>Selection of service providers, who are already using advantages of BookIT:</h2>
    <div class="card">
        <div class="info-area">
            <img mat-card-image src="assets/food2.png" alt="Liangtse wellness massage">
            <h2>Tasty Catering</h2>
            <h3><i>  Catering services for all the moments in your life</i></h3>
            <br />
            <p>
                Tasty Catering makes delicious cuisine for all events - straighforward and with expertise.
                Catering services offers excuisite food for even the most demanding taste pallets. We only use pure and
                quality foods. You are also able to book a chef and waiters for parties and events.
            </p>
            <p>

                Tasty Catering has served satisfied customers for over five years, starting out in the capital area
                but quickly exanpding to other regions in Finland as well. Tasty Catering currently employs 100 happy
                emplyees all around Finland.
            </p>
            <p>
                Need delicious home made food at your next event? Book us!
            </p>
        </div>
    </div>

    <div class="card">
        <div class="info-area">
            <img mat-card-image src="assets/train.png" alt="Liangtse wellness massage">
            <h2>Activate for Life</h2>
            <h3><i>We keep you fit for life</i></h3>
            <br />
            <p>
                We believe that moving is the best medication for a long happy life. By adding a few hours of
                activities throughout your week, your adding years to your life. By providing a carefully individualized
                training plan anyone can have an active life, and more over a happy life. Our goal in life is to be able
                to make people healthly, no matter what the starting point is.
            </p>
            <p>
                We have a 100 % gaurantee, that you will be satisfied with our program!
            </p>
            <p>
                Activate for life began their story in Kajaani, Finlad. Their founder, Juhani Muhani, used to weigh 162 kg,
                smoked three packs a day, and was severly depressed. After a moment of clarity, he changed his lifestyle completely
                and now employes over 1000 Activate for life-coaches all around the nordic countries.
            </p>
            <p>
                Not satisfied? We will pay your money back!
            </p>
        </div>
    </div>
</div>
</div>
