<div class="container">
    <br/>
    <h1>Service requests</h1>
    <h5>These are all your current requests</h5>
    <br/>

    <div class="acordion">
    <mat-accordion>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Acupressure session in need
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>Hi! my back pain is back again, could you help me with the acupressure like last time?</li>
          <div class="buttons">
              <button mat-icon-button color="accent">
                  <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                  <mat-icon>highlight_off</mat-icon>
              </button>
          </div>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            In need of relaxing
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>My grandkids were visiting last weekend and I'm in deperate need of a massage.</li>
          <div class="buttons">
              <button mat-icon-button color="accent">
                  <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                  <mat-icon>highlight_off</mat-icon>
              </button>
          </div>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Western medicine does not work!
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>The Chinese medical treatment helped last time, in need of them again!</li>
          <div class="buttons">
              <button mat-icon-button color="accent">
                  <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                  <mat-icon>highlight_off</mat-icon>
              </button>
          </div>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Full day of relaxation
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>My entire body is in pain and I feel very stiff. I'm also having trouble sleeping. I would like to book a full
            day of relaxation.
          </li>
          <div class="buttons">
              <button mat-icon-button color="accent">
                  <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                  <mat-icon>highlight_off</mat-icon>
              </button>
          </div>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Back pain, can't sleep!
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>I have this incredible pain in my back, and would need an extensive massage session.</li>
          <div class="buttons">
              <button mat-icon-button color="accent">
                  <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                  <mat-icon>highlight_off</mat-icon>
              </button>
          </div>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nerve pain in my feet
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>The pain is so great I can't even walk, would need to have some acupressure relief.</li>
          <div class="buttons">
              <button mat-icon-button color="accent">
                  <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                  <mat-icon>highlight_off</mat-icon>
              </button>
          </div>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
</div>


  </div>
