<div class="container">
    <div class="row">
      <div class="col_left">
      </div>
      <div class="col_middle">
          <carousel class='text-center'>
              <slide>
                <img class="img" src="assets/1.jpg" alt="First slide">
              </slide>
              <slide>
                <img class="img" src="assets/2.jpg" alt="Second slide">
              </slide>
              <slide>
                <img class="img" src="assets/3.jpg" alt="Third slide">
              </slide>
            </carousel>

            <div class="text">
              <br>
               <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
               <br> 
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
                <br>
                <p>in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,</p>
                <br>
                <p>sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
      </div>
      <div class="col_right">
      </div>
    </div>
  </div>