<div class="page">
    <div class="header-area">
        <h1>Liangtse Wellness</h1>
        <h2>Wide range of stress relieving treatment</h2>
    </div>
    <div class="info-area">
        <img src="assets/massage-circle.png" alt="Liangtse wellness massage">
        <p>
            Our wide range of stress relieving, vitality enhancing and rebalancing
            treatments have been well-known and popular in Finland.  All our
            treatments are based on traditional Chinese medical treatments,
            such as acupressure, reflexology combined with the classic Western-style massage.
            The real relaxation begins from the peace of mind.
        </p>
        <p>
            Welcome to visit us, experience the treaments and enjoy well-being and positive effects on your health.
        </p>
        <p>
            China Liangtse Wellness has established 3 training centers
            and 300 chain shops in China. There are around 20,000 employees
            working at the shops around China. Since June 2007, the company
            has established many chain shops in Europe, such as Germany England,
            Netherlands and Finland. And in Finland, we have 3 business premise nowadays.
        </p>
        <p>
            Of course you can use the purchased gift vouchers at each center. Welcome!
        </p>
        <h2>Booking information</h2>

    </div>
    <button mat-raised-button (click)="bookWellness()">Book this service</button>
</div>
