<div class="container">
	<div class="row">
		<div class="col">
			<br/>
			<h5>BookIT</h5>
			<br/>
			<h1>Book your service now!</h1> 
			<br/>
		</div>
		<div class="col">
			<br/>
<!-- 			<mat-tab-group>
					<mat-tab label="Step 1">Make a free account from the "Register"-tab</mat-tab>
					<mat-tab label="Step 2">Content 2</mat-tab>
			</mat-tab-group> -->
		<!--	<h2>How to use Recycle4me?</h2> 
			<mat-list>
				<mat-list-item>
					1. Authenticate yourself with the service, we provide easy acces with social media logins (Google and Facebook)
				</mat-list-item>
				<mat-list-item>
					2. Fill your pick-up information in "Request pick-up" - tab 
				</mat-list-item>
				<mat-list-item>
					3. Make a request
				</mat-list-item>
				<mat-list-item>
					4. Enjoy!
				</mat-list-item>
			</mat-list> -->
			<img src="/assets/carryPoster.png" width="80%">
		</div>
	</div>
</div>