<section class="mat-typography">
<div class="container">


<h1>About Us</h1>
<p>
    I am a barber and a salon stylist serving the elderly people in the area of Lappeenranta. From me you get all the barber and salon stylist services with the newest trends and a guaranteed quality. I have a 20 years of experience. <br/><br/>My work hours are every workday between 8 - 16. 
</p>
<br/>
<h2>Statistics</h2>
<mat-list>

<mat-list-item><mat-icon>people</mat-icon> <span>271 Customers</span></mat-list-item>
<mat-list-item> <mat-icon>sentiment_satisfied</mat-icon> <span>98 % Positive Feedback</span></mat-list-item>
</mat-list>
  

</div>
</section>