<div class="container">
  <div class="row">
    <div class="col-xl">
      <br/>
      <h1>Waste guide</h1> 
      <h5>Here you will find information on how to sort your waste</h5>
      <br/>
      <mat-list>
        <mat-list-item><h3> Biowaste </h3> </mat-list-item>
        <ul><h5>What to include into biowaste</h5>
          <li>fruit and vegetable peels</li>
          <li>food waste</li>
          <li>fish bones and bones</li>
          <li>solidified grease</li>
          <li>tea bags or leaves and coffee grounds, coffee filter paper</li>
          <li>soft paper, such as kitchen towels, paper napkins, tissues</li>
          <li>plant parts and dried flowers, small amounts of garden waste</li>
          <li>wood-based litter from pet cages (for example, sawdust and pellets)</li>
        </ul>
        <mat-list-item><h3> Carton </h3> </mat-list-item>
        <ul><h5>What to include into carton waste containers</h5>
          <li>carton packages for liquids, such as milk and juice cartons (also with aluminium lining)</li>
          <li>carton packages, such as cereal and cookie packs</li>
          <li>paper packets, such as bread and flour bags</li>
          <li>paper bags</li>
          <li>egg cartons</li>
          <li>shells of toilet paper and kitchen towel rolls</li>
          <li>corrugated cardboard and kraft paper</li>
        </ul>
        <mat-list-item><h3> Glass </h3> </mat-list-item>
        <ul><h5>What to include into glass waste</h5>
          <li>drinking glasses</li>
          <li>heat-resistant glasses (oven pans, coffee pans)</li>
          <li>crystal glass</li>
          <li>porcelain and ceramics</li>
          <li>window glass</li>
          <li>mirror glass</li>
          <li>opal glass</li>
          <li>lamps</li>
        </ul>
        <mat-list-item><h3> Metal </h3> </mat-list-item>
        <ul><h5>What to include into metal waste</h5>
          <li><h6>Small metal items</h6></li>
          <li>food and beverage cans</li>
          <li>​aluminium foil and tins</li>
          <li>metal lids and caps</li>
          <li>metal casings of tea lights</li>
          <li>empty and dry paint cans</li>
          <li>empty aerosol cans</li>
          <li>small metal items that can fit into the container</li>
          <li><h6>Scrap metal</h6></li>
          <li>bicycle</li>
          <li>sheet metal and gutters</li>
          <li>metal parts of furniture</li>
          <li>metal pipes and cables</li>
          <li>wood-burning sauna heaters</li>
          <li>metal machines and devices</li>
          <li>​clean and open barrels</li>
        </ul>
        <mat-list-item><h3> Paper </h3> </mat-list-item>
        <ul><h5>What to include into paper waste</h5>
          <li>newspapers and magazines</li>
          <li>adverts, brochures, postcards</li>
          <li>envelopes </li>
          <li>phone books and product catalogues</li>
          <li>paperback books</li>
          <li>hardcover books, if the covers are removed</li>
          <li>copy paper and printed paper</li>
          <li>sketch books and notepads</li>
          <li>white paper bags</li>
        </ul>
        <mat-list-item><h3> Plastic </h3> </mat-list-item>
        <ul><h5>What to include into plastic waste</h5>
          <li>Empty plastic packages for food stuff</li>
          <li>Empty plastic detergent, shampoo and soap bottles</li>
          <li>Plastic carriers, bags and wrappings</li>
          <li>Empty plastic bottles, canisters and jars, preferably flattened; caps and lids detached</li>
        </ul>
        <mat-list-item><h3> Garden waste </h3> </mat-list-item>
        <ul><h5>What to include into garden waste</h5>
          <li>leaves, grass and plant tops</li>
          <li>chipped brushwood</li>
          <li>rootstocks and tree stumps</li>
          <li>apples from the ground</li>
        </ul>
        <mat-list-item><h3> Mixed </h3> </mat-list-item>
        <ul><h5>What to include into mixed waste</h5>
          <li>all plastics</li>
          <li>disposable diapers, tampons and sanitary towels</li>
          <li>worn out textiles and shoes</li>
          <li>leather, faux leather and rubber</li>
          <li>drinking glasses and heat tolerant glass dishes</li>
          <li>porcelain and ceramics</li>
          <li>vacuum cleaner bags</li>
          <li>incandescent light bulbs and halogen light bulbs and fuses</li>
          <li>ash and cigarette stumps</li>
        </ul>
       </mat-list>

    <div class="col-xl">
      
    </div>
  </div>
</div>