// This is a very janky fix for accordions to work when generated out of view
.col_left, .col_right {
    width: 15%;
}
.col_middle {
    width: 70%;
}
.aboutus {
	font-family: 'Rozha One';
	font-size: 48px;
}
.text {
	font-family: 'Rozha One';
	font-size: 20px;
}