<div class="container">
	<h1>Welcome to <span class="badge badge-secondary">{{title}}</span></h1>
	<h2><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">We're using bootstrap for the (responsive) layout</a></h2>
	<h2><a href="https://material.angular.io/components">Material components</a></h2>
	<h2><a href="http://sass-lang.com/guide">Scss for .css pre-processing</a></h2>
	<div class="row">
		<div class="col">
			<p>Angular itself uses TypeScript which is a superset of javascript, and compiles down to javascript. Why? Because we get compile time checking, typed variables, and all kinds of cool things <a href="https://www.typescriptlang.org/docs/home.html">https://www.typescriptlang.org/</a></p>
		</div>
		<div class="col">
			<a href="https://angular.io/guide/quickstart">Angular Quickstart guide</a><p>Site also contains other useful resources</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			We're using bootstrap for the layout, but following <a href="https://material.io/guidelines/material-design/introduction.html">Material Design</a> guidelines.
		</div>
		<div class="col">
			Here are some icons we can use: <a href="https://material.io/icons/">https://material.io/icons/</a>
		</div>
		<div class="col">
			<p>Other potentially useful links:</p>
			<mat-list>
				<mat-list-item> <a href="http://flexboxfroggy.com">http://flexboxfroggy.com</a></mat-list-item>
				<mat-list-item> <a href="http://jonibologna.com/content/images/flexboxsheet.pdf">http://jonibologna.com/content/images/flexboxsheet.pdf</a></mat-list-item>
				<mat-list-item> <a href="http://animista.net">http://animista.net</a></mat-list-item>
				<mat-list-item> <a href="https://firebase.google.com">https://firebase.google.com</a></mat-list-item>
			</mat-list>
		</div>
	</div>
</div>