<div class="wrapper">
	<div class="container">
		<mat-toolbar color="primary">
			
			<img src="/assets/logo.png" width="7.5%">

			<div #asd *ngIf="afAuth.authState | async; let user; else showLogin">
				<span>Hello {{ user.displayName }}!</span>
				<button class="buttonPad logOutButton" type="button" color="warn" mat-raised-button (click)="logout()">Logout</button>
			</div>
			<ng-template #showLogin>
				<span>Please login.</span>
				<!-- <button (click)="login()">Login with Google</button> -->
				<button class="buttonPad facebookButton" type="button" mat-raised-button (click)="facebookLogin()">Facebook</button>
				<button class="buttonPad googleButton" type="button" mat-raised-button (click)="googleLogin()">Google</button>
			</ng-template>
			
			<!--<a href="#">Login</a>-->
			<!--<button mat-button>Give us feed back!</button>-->

		</mat-toolbar>
		<mat-tab-group >
			<!-- Tänne pistetään sitten kaikki sivut -->
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>home</mat-icon> Recycle4me
				</ng-template>
				<app-front-page></app-front-page>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>info outline</mat-icon> Info about recycling
				</ng-template>
				<app-info></app-info>
			</mat-tab>
			<!-- Voiskohan ottaa rekisteröinnin helvettiin, jos pelkkä some riittäis? -->
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>account_circle</mat-icon> Register
				</ng-template>
				<p>Nothing here yet</p>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>build</mat-icon> Request pick-up
				</ng-template>
				<p>Nothing here yet</p>
			</mat-tab>
        </mat-tab-group>
	
		<div class="card text-center">
			<div class="card-footer text-muted">
				<p>COPYRIGHT © 2017 Jere Kaplas, Eetu Heimala, Oskari Jahkola, Sakari Laine, Joni Suomalainen</p>
				<p>Contact information: <a href="#">recycle4me@recycle4me.com</a>.</p>
			</div>
		</div>
	</div>

</div>
