<div class="wrapper">
	<div class="container">
		<mat-toolbar color="primary">
			<img src="/assets/logo.png" width="7.5%">
			<div class="toolbar-spacer"></div>
			<div *ngIf="customerstate=='customer'">
                <button class="buttonPad" type="button" mat-raised-button (click)="switchToService()">Switch to Service Provider</button>
			</div>
            <div *ngIf="customerstate=='service-registration'">
				<button class="buttonPad" type="button" mat-raised-button (click)="loginProvider()">Login</button>
                <button class="buttonPad" type="button" mat-raised-button (click)="switchCustomer()">Switch to Customer</button>
			</div>
			<div *ngIf="customerstate=='service-account'">
				<button class="buttonPad" type="button" mat-raised-button (click)="logoutProvider()">Logout</button>
                <button class="buttonPad" type="button" mat-raised-button (click)="switchCustomer()">Switch to Customer</button>
			</div>
		</mat-toolbar>

			<!-- ###################### -->
			<!-- REGISTRATION PAGE TABS -->
		<mat-tab-group *ngIf="customerstate=='service-registration'">
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>home</mat-icon> About us
				</ng-template>
			<app-about-bookit></app-about-bookit>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>person_add</mat-icon> Become member
				</ng-template>
				<app-register-provider></app-register-provider>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>login</mat-icon> Login
				</ng-template>
				<div class="login-form">
					<mat-form-field>
						<input matInput placeholder="Name *" type="text">
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="Password *" type="password">
					</mat-form-field>
					<button class="buttonPad" type="button" mat-raised-button (click)="loginProvider()">Login</button>
	            </div>
			</mat-tab>
		</mat-tab-group>

			<!-- ########################## -->
			<!-- SERVICE PROVIDER PAGE TABS -->
        <mat-tab-group *ngIf="customerstate=='service-account'">
			<mat-tab>
			<ng-template mat-tab-label>
					<mat-icon>home</mat-icon> Calendar
				</ng-template>
			<app-service></app-service>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>info outline</mat-icon> About Us
				</ng-template>
				<app-info></app-info>
			</mat-tab>
			<mat-tab>
					<ng-template mat-tab-label>
						<mat-icon>assignment</mat-icon> Requests
					</ng-template>
					<app-requests></app-requests>
				</mat-tab>
		</mat-tab-group>

			<!-- ################## -->
			<!-- CUSTOMER PAGE TABS -->
        <mat-tab-group *ngIf="customerstate=='customer'" [(selectedIndex)]="util.selIndex">
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>home</mat-icon> Calendar
				</ng-template>
				<app-front-page></app-front-page>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>art_track</mat-icon> Service providers
				</ng-template>
				<app-providers-list></app-providers-list>
			</mat-tab>

		</mat-tab-group>

		<div class="card text-center">
			<div class="card-footer text-muted">
				<p>BookIt</p>
				<p>COPYRIGHT © 2017 Sakari Laine, Daniel Kraut, Oskari Jahkola</p>
				<p>Contact information: <a href="#">bookit@bookit.com</a>.</p>
			</div>
		</div>
	</div>

</div>
