// Hyvin WIP kamaa, mutta nyt ei pysty

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #C5E1A5;
}

.wrapper {
	background: #C5E1A5;
	height: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
}

.container {
	background:rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,0.3);
	padding-left: 0;
	padding-right: 0;
}

.content {
	padding-left: 5px;
	padding-right: 5px;
}

mat-toolbar {
	a {
		margin-right: 16px;
	}
}

@media screen and (min-width: 1024px) {
	.wrapper {
		height: 100%;
		padding: 20px;
	}
}

.facebookButton {
	background: #3b5998;
	color: rgba(255, 255, 255, 0.87);
}

.googleButton {
	background: #424242;	
	color: rgba(255, 255, 255, 0.87);
}

.buttonPad {
	margin: 8px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}