.page {
    padding: 30px;
    margin: 5px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .page-button {
        margin-bottom: 50px;
    }
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
h2 {
    font-size: 2.2em;
}
.header-area {
    margin-bottom: 25px;
}
.info-area {
    img {
        width: 200px;
        height: 200px;
        float: right;
        margin: 15px 0px 15px 15px;
    }
    p {
        font-size: 1.5em;
    }
    h2 {
        margin-top: 25px;
    }
}
.footer-area {
    margin-top: 50px;
}
.contact-form {
    font-size: 1.5em;
  display: flex;
  flex-direction: column;
  textarea {
      min-height: 200px;
  }
}

.contact-form > * {
  width: 100%;
}



div.mat-expansion-panel-content:not(.mat-expanded) {
	height: 0px;
	visibility: hidden;
}

.mat-expansion-panel-header:not(.mat-expanded)  {
	height: 48px;
}

.mat-expansion-panel-header  {
	height: 64px;
	.mat-content {
			font-size: 18px;
	}
	&.mat-expanded {
			.mat-expansion-indicator {
					transform: rotate(180deg);
			}
	}
}

.buttons {
    text-align: right;
}
.acordion {
	margin: 30px 10px 15px 10px;
}
