<div class="page">
    <button mat-raised-button class="page-button" (click)="goBack()" >
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>   Go back</span>
    </button>
    <div class="header-area">
        <h1>Tasty Catering</h1>
        <h2>Catering services for all the moments in your life</h2>
    </div>

    <div class="info-area" *ngIf="pageContent=='booking-info'">
        <img mat-card-image src="assets/food2.png" alt="Liangtse wellness massage">
        <p>
            Tasty Catering makes delicious cuisine for all events - straighforward and with expertise.
            Catering services offers excuisite food for even the most demanding taste pallets. We only use pure and
            quality foods. You are also able to book a chef and waiters for parties and events.
        </p>
        <p>

            Tasty Catering has served satisfied customers for over five years, starting out in the capital area
            but quickly exanpding to other regions in Finland as well. Tasty Catering currently employs 100 happy
            emplyees all around Finland.
        </p>
        <p>
            Need delicious home made food at your next event? Book us!
        </p>
        <h2>Booking information:</h2>
        <p>Service available at theese times:</p>
        <ul>
            <li>Weekdays: 8:00 - 18:00</li>
            <li>Saturday: 10:00 - 15:30</li>
            <li>Sundays: closed</li>
        </ul>
        <p>Check the calendar for available date and hour of appointment</p>
        <div class="footer-area">
            <button mat-raised-button width="500px" (click)="contactProvider()">
                <mat-icon>email</mat-icon>
                <span>   Contact service provider</span>
            </button>
        </div>
    </div>

    <div class="info-area" *ngIf="pageContent=='contact-catering'">
            <div class="contact-form">
                <mat-form-field>
                    <input matInput placeholder="Message title *" type="title">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Textarea" type="text"></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button (click)="sendMessage()" type="submit">
                <mat-icon>send</mat-icon>
                <span>   Send message</span>
            </button>
    </div>
</div>

<div class="acordion">
    <h2>Tasty Catering booking calendar</h2>
    <mat-accordion>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>28.11.2017: 14:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>28.11.2017: 16:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>29.11.2017: 9:30</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>29.11.2017: 14:30</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>30.11.2017: 9:30</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>30.11.2017: 13:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>30.11.2017: 15:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>30.11.2017: 17:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>1.12.2017: 9:30</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>1.12.2017: 13:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>1.12.2017: 15:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>2.12.2017: 8:00</strong></mat-panel-title>
        </mat-expansion-panel-header>
          <div class="buttons">
              <span>Book now</span>
              <button mat-icon-button color="primary">
                  <mat-icon>note_add</mat-icon>
              </button>
          </div>
      </mat-expansion-panel>

    </mat-accordion>
</div>
