.calendar
{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.profile-left
{
    padding: 20px;
    float: left;
    max-width: 500px;
}

.profile-right
{
    text-align: right;
    margin-top: 10px;
}

.pic-label
{
    display: block;
    padding-top: 10px;
    padding-right: 40px;
    font-weight: bold;
}

.service-button
{
    width: 100%;
    text-align: center;
}

.add-service
{
    background-color: #C5E1A5;
    color: black;
    padding: 15px 40px;
    text-align: center;
    // display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
}

#calendar-section
{
    padding: 20px;
    background-color: white;
}

.events-list
{
    padding: 20px;
}

#eventForm
{
    margin: 20px;
    padding: 20px;
    width: auto;
    background-color: white;
}
.text-cover {
    margin-top: -810px;
    background-color: white;
    width: 100%;
    height: 55px;
}
