<div class="container">
	<div class="profile">
		<div class="profile-left">
			<h1>Welcome to "our app!"</h1>
		</div>
		<div class="profile-right">
				<img src="/assets/man.png" id="profile-pic" width="200">
				<span class="pic-label">Juhani Korhonen</span>
		</div>
	</div>
	<h2>Your calendar</h2>
	<div class="calendar">
		<iframe src="https://calendar.google.com/calendar/embed?hl=en_GB&amp;src=saai.lut.2017%40gmail.com&ctz=Europe%2FHelsinki"
		style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
	<br />
	<br />
		<h2>Your events in next 2 weeks</h2>
		<mat-list>
			<mat-list-item>7.11.2017, 14:00: Doctor appointment</mat-list-item>
			<mat-list-item>9.11.2017, 10:00: Rehab at the swimming pool</mat-list-item>
			<mat-list-item>10.11.2017, 09:00: Take heart medications</mat-list-item>
			<mat-list-item>11.11.2017, 19:00: Meeting SP2</mat-list-item>
			<mat-list-item>12.11.2017, 16:00: Meeting SP</mat-list-item>
			<mat-list-item>17.11.2017, 09:00: Take heart medications</mat-list-item>
		</mat-list>
		<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add an event
    </mat-panel-title>
    <mat-panel-description>
      Type the event title and date
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="From" type="datetime-local">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="To" type="datetime-local">
  </mat-form-field>

  <mat-action-row>
    <button type="button" class="add-service" mat-button>Add an event</button>
</mat-action-row>
</mat-expansion-panel>

<br />
<br />

	<div class="row">
		<div class="service-button">
			<button type="button" class="add-service" mat-button>Book a service</button>
			<!-- <button type="button" class="add-service" mat-button>Add an event</button> -->
		</div>
	</div>
</div>

<!-- <mat-datepicker></mat-datepicker> -->
