<div class="container">
	<div class="row">
		<div class="col">
			<br/>
			<h5>1. Have an old computer that’s been in the corner gathering dust for years?</h5>
			<h5>2. Don’t know where to take leftover paint from your home-improvement project?</h5>
			<br/>
			<h1>Recycle4Me has you covered!</h1> 
			<br/>
		<p>Recycle4Me is a service that allows you to request a pickup service for your waste that the general garbage service doesn’t collect, i.e. large furniture, old appliances, and other problem waste.</p>
		<p>The service is provided free of charge because the cost of operation is insignificant compared to the ecological value gained by providing a way to reduce unsorted waste.</p>
		<p>If you have waste that needs special handling, request a pickup and we’ll handle it from there! If you can’t be around personally to hand out said waste, leave it at an appointed spot for pickup.</p>
		</div>
		<div class="col">
			<br/>
			<h2>How to use Recycle4me?</h2> 
			<mat-tab-group>
					<mat-tab label="Step 1">Make a free account from the "Register"-tab</mat-tab>
					<mat-tab label="Step 2">Content 2</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>