.calendar
{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.profile-left
{
    padding: 20px;
    float: left;
    max-width: 300px;
}

.profile-right
{
    text-align: right;
}

.pic-label
{
    display: block;
    padding-top: 10px;
    padding-right: 40px;
    font-weight: bold;
}
