.calendar
{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.profile-left
{
    padding: 20px;
    float: left;
    max-width: 300px;
}

.profile-right
{
    text-align: right;
}

.pic-label
{
    display: block;
    padding-top: 10px;
    padding-right: 40px;
    font-weight: bold;
}

.service-button
{
    width: 100%;
    text-align: center;
}

.add-service
{
    background-color: #008CBA;
    color: white;
    padding: 15px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
}
