.page {
    padding: 30px;
    margin: 15px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .page-button {
        margin-bottom: 50px;
    }
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
h2 {
    font-size: 2.2em;
}
.header-area {
    margin-bottom: 25px;
}
.info-area {
    img {
        width: 200px;
        height: 200px;
        float: right;
        margin: 15px 0px 15px 15px;
    }
    p {
        font-size: 1.5em;
    }
    h2 {
        margin-top: 25px;
    }
}
.footer-area {
    margin-top: 50px;
}
.contact-form {
    font-size: 1.5em;
  display: flex;
  flex-direction: column;
  textarea {
      min-height: 200px;
  }
}
.contact-form > * {
  width: 100%;
}
.mat-img {
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid gray;
    span {
        color: gray;
        padding-right: 20px;
    }
}
