<div class="container">
    <br/>
    <h1>Messages</h1>
    <h5>These are messages from customers</h5>
    <br/>
  <div class="acordion">
    <mat-accordion>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            What kind of oil do you use?
          </mat-panel-title>
        </mat-expansion-panel-header>

          Hi! I'm allergic to some massage oils, do the oils you use cause trigger?

          <div class="buttons">
              <button mat-icon-button>
                  <mat-icon>reply</mat-icon>
              </button>
              <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
              </button>
          </div>

      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Are you able to do a Turkish massage?
          </mat-panel-title>
       </mat-expansion-panel-header>

          Hello, do you do Turkish massages also?

          <div class="buttons">
              <button mat-icon-button>
                  <mat-icon>reply</mat-icon>
              </button>
              <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
              </button>
          </div>

      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            What's the price for a normal massage?
          </mat-panel-title>
        </mat-expansion-panel-header>

          Hey, what's the price of a normal massage?

          <div class="buttons">
              <button mat-icon-button>
                  <mat-icon>reply</mat-icon>
              </button>
              <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
              </button>
          </div>

      </mat-expansion-panel>

    </mat-accordion>
</div>


  </div>
