@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-light-green, 500, 100, 700);
$accent:  mat-palette($mat-blue, 500, 300, 700);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);