<div class="container">
    <!-- #### provider 1 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Liangtse Wellness</mat-card-title>
            <mat-card-subtitle>Wide range of stress relieving treatment</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        Our wide range of stress relieving, vitality enhancing and rebalancing
                        treatments have been well-known and popular in Finland.  All our
                        treatments are based on traditional Chinese medical treatments,
                        such as acupressure, reflexology combined with the classic Western-style massage.
                        The real relaxation begins from the peace of mind.
                    </p>
                    <p>
                        Welcome to visit us, experience the treaments and enjoy well-being and positive effects on your health.
                    </p>
                    <p>
                        China Liangtse Wellness has established 3 training centers
                        and 300 chain shops in China. There are around 20,000 employees
                        working at the shops around China. Since June 2007, the company
                        has established many chain shops in Europe, such as Germany England,
                        Netherlands and Finland. And in Finland, we have 3 business premise nowadays.
                    </p>
                    <p>
                        Of course you can use the purchased gift vouchers at each center. Welcome!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/massage-circle.png" alt="Photo of a Shiba Inu">
                </div>
            </div>2
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Book this service</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>Iso Roobertinkatu 8 Lh 1,00120 Helsinki Tel: 09 2784201, Fax: 09 2784211 Email: info@liangtse.fi
                <li>Arkadiankatu 17 Lh B, 00100 Helsinki Tel: 09 4546301 Email: info2@liangtse.fi</li>
                <li>Tapiontori 3 B, 02100 Espoo Tel: 09 61593402 Email: info.tapiola@liangtse.fi</li>
                <li>Opening time of all centers in Helsinki and Espoo Mon-Sat 10:00-21:00 Sun Closed </li>
            </ul>
        </mat-card-footer>
    </mat-card>

    <!-- #### provider 2 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Liangtse Wellness</mat-card-title>
            <mat-card-subtitle>Wide range of stress relieving treatment</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        Our wide range of stress relieving, vitality enhancing and rebalancing
                        treatments have been well-known and popular in Finland.  All our
                        treatments are based on traditional Chinese medical treatments,
                        such as acupressure, reflexology combined with the classic Western-style massage.
                        The real relaxation begins from the peace of mind.
                    </p>
                    <p>
                        Welcome to visit us, experience the treaments and enjoy well-being and positive effects on your health.
                    </p>
                    <p>
                        China Liangtse Wellness has established 3 training centers
                        and 300 chain shops in China. There are around 20,000 employees
                        working at the shops around China. Since June 2007, the company
                        has established many chain shops in Europe, such as Germany England,
                        Netherlands and Finland. And in Finland, we have 3 business premise nowadays.
                    </p>
                    <p>
                        Of course you can use the purchased gift vouchers at each center. Welcome!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/massage-circle.png" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Book this service</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>Iso Roobertinkatu 8 Lh 1,00120 Helsinki Tel: 09 2784201, Fax: 09 2784211 Email: info@liangtse.fi
                <li>Arkadiankatu 17 Lh B, 00100 Helsinki Tel: 09 4546301 Email: info2@liangtse.fi</li>
                <li>Tapiontori 3 B, 02100 Espoo Tel: 09 61593402 Email: info.tapiola@liangtse.fi</li>
                <li>Opening time of all centers in Helsinki and Espoo Mon-Sat 10:00-21:00 Sun Closed </li>
            </ul>
        </mat-card-footer>
    </mat-card>

    <!-- #### provider 3 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Liangtse Wellness</mat-card-title>
            <mat-card-subtitle>Wide range of stress relieving treatment</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        Our wide range of stress relieving, vitality enhancing and rebalancing
                        treatments have been well-known and popular in Finland.  All our
                        treatments are based on traditional Chinese medical treatments,
                        such as acupressure, reflexology combined with the classic Western-style massage.
                        The real relaxation begins from the peace of mind.
                    </p>
                    <p>
                        Welcome to visit us, experience the treaments and enjoy well-being and positive effects on your health.
                    </p>
                    <p>
                        China Liangtse Wellness has established 3 training centers
                        and 300 chain shops in China. There are around 20,000 employees
                        working at the shops around China. Since June 2007, the company
                        has established many chain shops in Europe, such as Germany England,
                        Netherlands and Finland. And in Finland, we have 3 business premise nowadays.
                    </p>
                    <p>
                        Of course you can use the purchased gift vouchers at each center. Welcome!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/massage-circle.png" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Book this service</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>Iso Roobertinkatu 8 Lh 1,00120 Helsinki Tel: 09 2784201, Fax: 09 2784211 Email: info@liangtse.fi
                <li>Arkadiankatu 17 Lh B, 00100 Helsinki Tel: 09 4546301 Email: info2@liangtse.fi</li>
                <li>Tapiontori 3 B, 02100 Espoo Tel: 09 61593402 Email: info.tapiola@liangtse.fi</li>
                <li>Opening time of all centers in Helsinki and Espoo Mon-Sat 10:00-21:00 Sun Closed </li>
            </ul>
        </mat-card-footer>
    </mat-card>
    <!-- #### provider 4 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Liangtse Wellness</mat-card-title>
            <mat-card-subtitle>Wide range of stress relieving treatment</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        Our wide range of stress relieving, vitality enhancing and rebalancing
                        treatments have been well-known and popular in Finland.  All our
                        treatments are based on traditional Chinese medical treatments,
                        such as acupressure, reflexology combined with the classic Western-style massage.
                        The real relaxation begins from the peace of mind.
                    </p>
                    <p>
                        Welcome to visit us, experience the treaments and enjoy well-being and positive effects on your health.
                    </p>
                    <p>
                        China Liangtse Wellness has established 3 training centers
                        and 300 chain shops in China. There are around 20,000 employees
                        working at the shops around China. Since June 2007, the company
                        has established many chain shops in Europe, such as Germany England,
                        Netherlands and Finland. And in Finland, we have 3 business premise nowadays.
                    </p>
                    <p>
                        Of course you can use the purchased gift vouchers at each center. Welcome!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/massage-circle.png" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Book this service</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>Iso Roobertinkatu 8 Lh 1,00120 Helsinki Tel: 09 2784201, Fax: 09 2784211 Email: info@liangtse.fi
                <li>Arkadiankatu 17 Lh B, 00100 Helsinki Tel: 09 4546301 Email: info2@liangtse.fi</li>
                <li>Tapiontori 3 B, 02100 Espoo Tel: 09 61593402 Email: info.tapiola@liangtse.fi</li>
                <li>Opening time of all centers in Helsinki and Espoo Mon-Sat 10:00-21:00 Sun Closed </li>
            </ul>
        </mat-card-footer>
    </mat-card>
</div>
