<div class="container"  *ngIf="glob.serviceSelected==false">
    <!-- #### provider 1 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Liangtse Wellness</mat-card-title>
            <mat-card-subtitle>Wide range of stress relieving treatment<br/>
       <mat-icon>sentiment_satisfied</mat-icon> 98 % Positive Feedback</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        Our wide range of stress relieving, vitality enhancing and rebalancing
                        treatments have been well-known and popular in Finland.  All our
                        treatments are based on traditional Chinese medical treatments,
                        such as acupressure, reflexology combined with the classic Western-style massage.
                        The real relaxation begins from the peace of mind.
                    </p>
                    <p>
                        Welcome to visit us, experience the treaments and enjoy well-being and positive effects on your health.
                    </p>
                    <p>
                        China Liangtse Wellness has established 3 training centers
                        and 300 chain shops in China. There are around 20,000 employees
                        working at the shops around China. Since June 2007, the company
                        has established many chain shops in Europe, such as Germany England,
                        Netherlands and Finland. And in Finland, we have 3 business premise nowadays.
                    </p>
                    <p>
                        Of course you can use the purchased gift vouchers at each center. Welcome!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/massage-circle.png" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="wellnessClick()">Booking and information</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>Iso Roobertinkatu 8 Lh 1,00120 Helsinki Tel: 09 2784201, Fax: 09 2784211 Email: info@liangtse.fi
                <li>Arkadiankatu 17 Lh B, 00100 Helsinki Tel: 09 4546301 Email: info2@liangtse.fi</li>
                <li>Tapiontori 3 B, 02100 Espoo Tel: 09 61593402 Email: info.tapiola@liangtse.fi</li>
                <li>Opening time of all centers in Helsinki and Espoo Mon-Sat 10:00-21:00 Sun Closed </li>
            </ul>
        </mat-card-footer>
    </mat-card>

    <!-- #### provider 2 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="catering-header-img"></div>
            <mat-card-title>Tasty Catering</mat-card-title>
            <mat-card-subtitle>Catering services for all the moments in your life<br/>
       <mat-icon>sentiment_satisfied</mat-icon> 98 % Positive Feedback</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        Tasty Catering makes delicious cuisine for all events - straighforward and with expertise.
                        Catering services offers excuisite food for even the most demanding taste pallets. We only use pure and
                        quality foods. You are also able to book a chef and waiters for parties and events.
                    </p>
                    <p>

                        Tasty Catering has served satisfied customers for over five years, starting out in the capital area
                        but quickly exanpding to other regions in Finland as well. Tasty Catering currently employs 100 happy
                        emplyees all around Finland.
                    </p>
                    <p>
                        Need delicious home made food at your next event? Book us!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/food2.png" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Booking and information</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>KP Catering</li>
                <li> Koskelontie 17, 02920 ESPOO</li>
                <li> 040 8449 860 | info@tastycatering.fi</li>
            </ul>
        </mat-card-footer>
    </mat-card>

    <!-- #### provider 3 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="music-header-img"></div>
            <mat-card-title>Purity Music</mat-card-title>
            <mat-card-subtitle>From mellow tunes to funcky riffs, we play them all!<br/>
       <mat-icon>sentiment_satisfied</mat-icon> 98 % Positive Feedback</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        Our talented musicians provide excellent quality music for any event! From birthday parties,
                        weddings, graduations to playing for senior citizens, we fit them all!

                        We believe that music connects us in the deepest way possible, just like any great therapy. And as
                        we are too many count, we have different reactions to different genres, hence our service of providing any
                        genre to your fitting.

                        Please join us, in the magic world of music and transend into a full relaxation and enjoy your moment!
                    </p>
                    <p>
                        Purity Music has founded by a small local band in Lappeenranta, who believed in the power of music. Wanting
                        to cover all genres and in that way be able to provide to everyones need, the small company quickly expanded
                        to acquire talents from all corners of the nation, currently empolying 50 talented individuals.
                    </p>
                    <p>
                        Also available on all major holidays!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/music.jpg" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Booking and information</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>Koulukatu 1 ,58590 Lappeenranta Tel: 050 51142123 Email: purityS@gmailcom</li>
            </ul>
        </mat-card-footer>
    </mat-card>
    <!-- #### provider 4 #### -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="pt-header-img"></div>
            <mat-card-title>Activate for Life</mat-card-title>
            <mat-card-subtitle>We keep you fit for life<br/>
       <mat-icon>sentiment_satisfied</mat-icon> 98 % Positive Feedback</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="content-parent">
                <div class="cleft">
                    <p>
                        We believe that moving is the best medication for a long happy life. By adding a few hours of
                        activities throughout your week, your adding years to your life. By providing a carefully individualized
                        training plan anyone can have an active life, and more over a happy life. Our goal in life is to be able
                        to make people healthly, no matter what the starting point is.
                    </p>
                    <p>
                        We have a 100 % gaurantee, that you will be satisfied with our program!
                    </p>
                    <p>
                        Activate for life began their story in Kajaani, Finlad. Their founder, Juhani Muhani, used to weigh 162 kg,
                        smoked three packs a day, and was severly depressed. After a moment of clarity, he changed his lifestyle completely
                        and now employes over 1000 Activate for life-coaches all around the nordic countries.
                    </p>
                    <p>
                        Not satisfied? We will pay your money back!
                    </p>
                </div>
                <div class="cright">
                    <img mat-card-image src="assets/train.png" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Booking and information</button>
        </mat-card-actions>
        <mat-card-footer>
            <ul>
                <li>Iso Roobertinkatu 8 Lh 1,00120 Helsinki Tel: 09 2784201, Fax: 09 2784211 Email: info@liangtse.fi
                <li>Arkadiankatu 17 Lh B, 00100 Helsinki Tel: 09 4546301 Email: info2@liangtse.fi</li>
                <li>Tapiontori 3 B, 02100 Espoo Tel: 09 61593402 Email: info.tapiola@liangtse.fi</li>
                <li>Opening time of all centers in Helsinki and Espoo Mon-Sat 10:00-21:00 Sun Closed </li>
            </ul>
        </mat-card-footer>
    </mat-card>
</div>

<div class="container" *ngIf="glob.serviceSelected">
    <app-wellness-service></app-wellness-service>
</div>
